@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Mulish:wght@300&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@300&display=swap');
body{
    background: #f0f0f0;
    /* -webkit-font-smoothing: antialiased; */
    font-family: 'Mulish', sans-serif;
}

.comment__box{
    list-style-type: none;
    padding-left: 0;
}

.comment__box .comment h6 {
    font-weight: 800;
}
p{
    font-size: 16px;
}

img {
    width: 20px;
}